        body {
            background-color: rgb(204, 204, 204);
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            font-weight: bold;
        }
        .container {
            width: 60%;
            margin: 0 auto;
            
        }
        .playlist {
            padding: 10px;
            border: 2px solid black;
			background: white;
            border-radius: 10px;
            margin-bottom: 20px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        ul {
            padding: 0;
            list-style-type: none;
        }
        li {
            margin: 5px 0;
        }
        a {
            text-decoration: none;
            font-size: 18px;
            color: black;
        }
        .player_one, .player_two {
            margin: 20px auto;
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            width: 100%;
            border: 2px solid black;
        }
        video {
            width: 100%;
            border-radius: 10px;
        }
        audio {
            width: 100%;
        }